
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
}

$white-color : #fff;
$white-bgcolor: #FFFFFF;
$gray-bgcolor: #FAFAFA;
$star-color: #F3CD03;
$check-color: #2DC071;
$bold-blue-color: #252B42;
$check-false-color: #BDBDBD;
$black-color: #000;
$blue-color: #23A6F0;
$bold-text-color: #252B42;
$light-text-color: #737373;


$mobile-width: 440px;
$desktop-width: 1024px;